@font-face {
    font-family: "NeoSansProBold";
    src: url("../fonts/NeoSansPro-Bold.eot");
    src: url("../fonts/NeoSansPro-Bold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/NeoSansPro-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NeoSansProMediumCyr";
    src: url("../fonts/NeoSansCyr-Medium.eot");
    src: url("../fonts/NeoSansCyr-Medium.eot?#iefix") format("embedded-opentype"),
         url("../fonts/NeoSansCyr-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}           

@font-face {
    font-family: "NeoSansProRegularCyr";
    src: url("../fonts/NeoSansCyr-Regular.eot");
    src: url("../fonts/NeoSansCyr-Regular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/NeoSansCyr-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}      