/*    
  author Andrew Osipov
  http://godhet.ru
  http://simplephotoweb.ru
*/

#menu{ width:985px; margin:5px auto 0px auto; padding:6px 0px 6px 15px; font-size:0pt; background:url(../images/menu.jpg) no-repeat;  }
#menu li{ list-style:none; font-size:0pt; display:inline-block; list-style-position:inside; height:35px; margin:0; padding:0; position:relative; }
#menu li a{ color:#fff; font-weight:bold; font-size:9pt; font-family:Tahoma,Arial,Calibri; text-decoration:none; display:block;  padding:5px 10px 3px 7px; margin:0px 7px 0px 15px; }
#menu li a.active{ text-decoration:underline;    }
#menu li a:hover{ color:#62b2f8; text-decoration:none; }

#menu li:hover ul a{ text-decoration:none; }
#menu li ul li{ height:auto; display:block; }
#menu li ul li a{ display:block; }
#menu li:hover ul a:hover{ text-decoration:underline; color:#4a9ee6; }

#menu li:hover ul{ display:block; }
#menu ul{display:none; width:190px; position:absolute; margin:10px 0px 0 0px; padding:10px 0 10px 0; background:#1469b9; z-index:100; }

#langs{  text-align:right; position:absolute; padding:6px 10px 5px 10px; right:0px; top:0px; background:#f6f7f9; }
#langs li{ list-style:none; display:inline-block; padding:0 2px 0 2px; margin:0; }
#langs li a{ font-size:8pt; color:#425e78; text-decoration:none; font-weight:bold; }
#langs li a:hover, #langs li a.active{ color:#1469b9; text-decoration:underline; }

#sub-menu{ width:190px; min-height:232px; background:url(../images/block4.jpg); padding:10px 0 0 0; }
#sub-menu li{ list-style:none; padding:0; margin:0; }
#sub-menu li a{ text-decoration:underline; color:#004f9c; font-weight:bold; font-size:9pt; padding:6px 0 3px 20px; margin:0 0 0px 0; display:block; }
#sub-menu li a:hover{ background:url(../images/1x1_3.png); text-decoration:none; color:#fff; }
#sub-menu li a.active{ background:url(../images/1x1_5.png); text-decoration:none; color:#fff; }

#sub-menu-thumbs{ margin:10px 0px 0px 0px; text-align:left; }
#sub-menu-thumbs li{ list-style:none; width:240px; height:140px; text-align:left; font-size:0pt; margin:0 0px -10px 0px; padding:0; display:inline-block; vertical-align:top; }
#sub-menu-thumbs li a{ text-decoration:none; width:245px; font-size:11pt; height:100px; position:relative; }
#sub-menu-thumbs li a span{ position:absolute; display:block; font-size:10.5pt; bottom:20px; left:0px; padding:2px 20px 1px 20px; z-index:10; background:#004f9b; color:#fff; }
#sub-menu-thumbs li:hover span{ background:#0557a7; }
#sub-menu-thumbs li img{ margin:0px 0 0 0; }
#sub-menu-thumbs li div{ font-size:10pt; line-height:13px;  color:#425e78; padding:0 0 0 20px; }

#news-thumbs{ margin:10px 0 10px; text-align:left; }
#news-thumbs li{ list-style:none; width:240px; min-height:175px; text-align:left; font-size:0pt; margin:0 0px 0 0px; padding:0; display:inline-block; vertical-align:top; }
#news-thumbs li a{ text-decoration:none; width:240px; height:100px; font-size:11pt; position:relative; }
#news-thumbs li a span{ position:absolute; font-size:10.5pt; bottom:20px; left:0px; padding:2px 20px 1px 20px; z-index:10; background:#004f9b; color:#fff; }
#news-thumbs li:hover span{ background:#0557a7; }
#news-thumbs li a span+span{ position:absolute; font-size:8pt; bottom:-10px; height:13px; left:0px; padding:1px 10px 0px 20px; z-index:10; background:none; color:#0557a7; }
#news-thumbs li:hover span+span{ background:none; }
#news-thumbs li img{ margin:0px 0 0 0; }
#news-thumbs li div{ font-size:10pt; line-height:13px; color:#425e78; padding:15px 0 0 20px; text-align:left; }
#content #news-thumbs li div p{ text-align:left; }
