/*    
  author Andrew Osipov
  http://godhet.ru
  http://simplephotoweb.ru
*/
*{ padding:0; margin:0; }
html,body{ height:100%; }

body{ padding:0; margin:0; height:100%; font-size:10pt; font-family:Tahoma,Arial,Calibri; font-size:10pt; color:#464646;  }

#top{ min-height:100%;  }

#logo a img{ border:none; }
a{ text-decoration:underline; color:#006ea9; }
a:hover{ text-decoration:none; color:#000; }
a img{ border:none; }
p img{ vertical-align:middle; }
li{ list-style-position:inside; padding-left:10px; margin-left:10px; padding-bottom:3px; }

#left{ width:190px; float:left; padding:0 0px 0 0px; position:relative; margin:0px 0 0 0px;}
#right{ width:790px; margin:0px 0px 0 0; padding:0px; float:right; }
#center{ float:left; width:552px; margin:0 0 0px 5px; }
.clear{ clear:both; }
#left h2{ min-height:21px; background:#004f9c; font-size:10pt; color:#fff; font-weight:bold; padding:7px 0 2px 20px; }
#left h2 a{ color:#fff; text-decoration:none; display:block; }
#left h2 a:hover{ text-decoration:underline; }

#header{ width:1000px; height:70px; margin:auto; background:#fff; position:relative; }
#header .login{ position:absolute; right:3px; bottom:3px;  }
#header .login .button{ display:inline-block; vertical-align:top; padding:3px 12px 2px 12px; border-radius:3px; text-decoration:none; background:#0070c2; color:#fff; }
#header .login .button+.button{ margin:0 0 0 3px; }
#header .login-form{ display:inline-block; vertical-align:top; display:none; }
#header form{ display:inline-block; vertical-align:top; }
#header .login-form .fogot{ font-size:12px;  }
#header .login-form input[type="text"], #header .login-form input[type="password"] { display:inline-block; width:100px; height:16px; padding:2px 6px 1px 6px; font-size:10pt;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #b2b2b2;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#header .login-form input[type="text"]:focus ,#header .login-form input[type="password"]:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
#header .login-form input[type="password"]{ width:65px; }

#recon{ display:none; color:#1469B9; position:absolute; font-weight:bold; right:5px; bottom:5px; }
#wrapper{ width:1000px; margin:auto; padding:0 0 85px 0; }

#logo{ width:165px; height:42px; position:absolute; left:50px; top:18px; }

#ind-form{ height:440px; }
#ticket-cont{ width:427px; height:377px; background:url(../images/ticket_back.png) 100% 0 repeat-y; }
#ticket-cont li{ list-style:none; margin:0; padding:0; position:relative; width:427px; height:47px; }
#ticket-cont li > a{ display:block; width:107px; text-decoration:none; font-size:9pt; position:absolute; left:0px;  padding:17px 0 0 10px; height:30px; color:#004f9c; border-right:3px solid #004f9c; background:#fff; }
#ticket-cont li.active a{ width:110px; border-right:none; color:#fff; background:#004f9c; }
#ticket-cont li > a:hover{ width:110px; border-right:none; color:#fff; background:#4387c7; }

#ticket-cont li a+div{ display:none; }
#ticket-cont li.active a+div{ display:block; }
#ticket-cont li a+div{ width:279px; height:354px; background:#fff; padding:15px 0 0 25px; position:absolute; z-index:10; right:3px; top:10px; }
#ticket-cont li a+div .field{ margin:15px 0 0 0; }
#ticket-cont li a+div label{ display:block; font-size:9pt; color:#9f9f9f; margin:0px 0 0 0; }
#ticket-cont li a+div input[type=text]{ border:1px solid #cccccc; color:#000; padding:0 10px 0 10px; }
#ticket-cont li a+div .radio{ margin:15px 0 15px 0; }
#ticket-cont li a+div .radio label{ display:inline; padding:0 10px 0 0; }
#ticket-cont li a+div .radio span{ display:inline-block; width:13px; height:13px; vertical-align:middle; cursor:pointer; background:url(../images/radio.png);  }
#ticket-cont li a+div .radio div{ display:inline-block; }
#ticket-cont li a+div .radio div:hover span{ background-position:0 -13px; }
#ticket-cont li a+div .radio div span.checked{ background-position:0 -26px; }
#ticket-cont li a+div .radio span input{ display:none; }
#ticket-cont li a+div .radio div:hover label, #ticket-cont li a+div .radio div.checked label{ color:#000; cursor:pointer; }
#ticket-cont li a+div .date input{ display:inline-block; width:90px; height:18px; background:url(../images/date.png) 98% 2px no-repeat; }
#ticket-cont li a+div .date input+input{ margin:0 0 0 20px; }
#ticket-cont li a+div .checkbox label{ display:inline; padding:0 10px 0 0; }
#ticket-cont li a+div select{ border:1px solid #cccccc; color:#000; padding:0 0px 0 10px; width:250px; }
#ticket-cont li a+div select option:focus{ color:#000; }
#ticket-cont li a+div .passenger{ width:70px; display:inline-block; }
#ticket-cont li a+div .passenger select{ width:70px; }
#ticket-cont li a+div .passenger+.passenger{ margin:0 15px 0 15px; }
#ticket-cont li a+div .passenger+.passenger+.passenger{ margin:0; }
#ticket-cont li a+div input[type=submit]{ position:absolute; bottom:-8px; right:-3px; width:110px; padding:0px 20px 0px 12px; height:27px; border:none; color:#fff; text-transform:uppercase; font-size:8pt; display:block; background:#004f9c url(../images/arrow.png) 5px 1px no-repeat; cursor:pointer; }
#ticket-cont li a+div input:hover[type=submit]{ background-color:#318fd5; background-image:url(../images/arrow_.png); }
#ticket-cont li+li a+div{ top:-37px; }
#ticket-cont li+li+li a+div{ top:-84px; }
#ticket-cont li+li a+div label{ color:#414141; }
#ticket-cont li+li a+div input[type=text]{ color:#9d9d9d; width:200px; font-size:9pt; padding:3px 10px 2px 10px; }
#ticket-cont li+li a+div input:focus[type=text]{ color:#000; }
#ticket-cont .promo-code.field{ position:absolute; left:25px; bottom:5px; }
#ticket-cont .promo-code.field input{ width:50px; }
 
#ticket-cont li ul{ position:absolute; left:120px; width:120px; border-top:1px solid #4387c7; border-bottom:1px solid #4387c7; z-index:100; display:none; background:#fff; }
#ticket-cont li:hover ul{ display:none; }

#ind-blocks{  }
#ind-blocks > li{ width:281px; height:311px; color:#425E78; position:relative; font-size:10pt; vertical-align:top; display:inline-block; background:url(../images/block1.jpg); padding:10px 20px 0px 20px; margin:0 0px 0 0; }
#ind-blocks > li+li{ background:url(../images/block2.jpg); margin:0 13px 0 13px; }
#ind-blocks > li+li+li{ background:url(../images/block3.jpg); margin:0 0px 0 1px; }
#ind-blocks > li h2{ color:#0D2040; font-size:16pt; font-weight:normal; padding:0px 0 5px 0px; margin-bottom:0; }
#ind-blocks em a{ font-style:normal; color:#004F9C; font-size:11pt; text-decoration:none; }
#ind-blocks em a:hover{ text-decoration:underline; }
#ind-blocks div{ margin:0 0 9px 0; }
#ind-blocks img{ margin-bottom:-10px; }
#ind-blocks p{ margin:0 0 7px 0; }
#ind-blocks a.more{ color:#004f9c; position:absolute; display:block; bottom:15px; background:url(../images/arrow.png) 0 50% no-repeat; padding:4px 0 5px 30px; text-decoration:none; }
#ind-blocks a.more:hover{ background-image:url(../images/arrow_.png); color:#318fd5; }

#slide{ width:100%; height:520px; overflow:hidden; position:absolute; left:0px; top:0px; z-index:-1; }
#slide #container{ width:1905px; height:540px; margin:0 auto 0 auto; }  
#slide-info{ width:481px; height:200px; position:relative; margin:-200px 0 0 auto; }
#slide-info-block{ position:absolute; bottom:10px; left:0px; }
#slide-info-title{ font-size:20pt; background:#fff; color:#1469b9; padding:0 0 0 7px; margin:0px 0 1px 0; text-shadow:1px 0px 1px #373737; }
#slide-info-descr, #slide-info-descr2,#slide-info-more{ margin:1px 0 0 0; padding:2px; }
#slide-info-descr span{ font-size:12pt; background:#4387c7; color:#fff; text-shadow:1px 0px 1px #373737; padding:0 10px 0 7px;  }
#slide-info-descr2 span{ font-size:11pt; background:#89b4db; color:#fff; text-shadow:1px 0px 1px #373737; padding:0 10px 0 7px;  }
#slide-info-more span{ font-size:11pt; font-weight:normal; background:#a2cbf0; color:#fff; text-shadow:1px 0px 1px #373737; padding:0 10px 0 7px;  }
#slide-info-more span a{ text-decoration:none; color:#fff; }
#slide-info ul{ margin:0px auto 0 auto; text-align:left; position:absolute; bottom:-25px; }
#slide-info li{ list-style:none; display:inline-block; margin:0; padding:0; }
#slide-info li a{ width:17px; height:17px; background:url(../images/bullet.png) 0 -18px; display:block; }
#slide-info li a:hover{ background-position:0 -35px; }
#slide-info li a.current{ background-position:0 0px; }

.slider{ width:280px; height:262px; margin:0px auto 0 auto; position:relative; overflow:hidden; clear:both; }
.slider-pagination{ margin:0 auto 0 auto; right:0px; bottom:-5px; position:absolute; text-align:right;}
.slider-pagination li{ list-style:none; padding:0; margin:0 1px 0 1px; display:inline-block; }
.slider-pagination li a{ display:block; height:10px; width:11px; background:url(../images/spec-pag.png) -11px 0; font-size:8pt; text-align:center; text-decoration:none; }
.slider-pagination li a:hover, .slider-pagination li a.active{ background-position:0 0; }
.slider-row-left{ padding:2px 2px 0 2px;  text-decoration:none; display:none; font-size:9pt;  right:10px; z-index:100; }
.slider-row-right{ padding:2px 2px 0 2px; text-decoration:none; display:none; font-size:9pt; right:0px; top:-18px; }
.slider-row-left:hover{ background:#000; color:#fff; }
.slider-row-right:hover{ background:#000; color:#fff; }
.slider-cont{ width:280px; height:280px; overflow:hidden; margin:0px 0 0 0; }
.slider-scroll{ text-align:left; }
.slider-page{ width:280px; height:311px; vertical-align:top; display:inline-block; margin:0 auto 0 auto; padding:0; }
#ind-blocks .country-descr{ margin:-180px 0 0 0; }
.slider a.img{ text-decoration:none; width:245px; height:100px; position:relative; }
.slider a.img span{ position:absolute; display:block; font-size:10.5pt; bottom:20px; left:0px; padding:2px 20px 1px 20px; z-index:10; background:#004f9b; color:#fff; }
.slider a.img:hover span{ background:#004f9b; }

.gsInformer{ display:inline-block; vertical-align:top; margin:10px 0 0 0; }
.gsInformer+script+link+.gsInformer{ margin:10px 0 0 20px; }
.gsInformer+script+link+.gsInformer{ margin:10px 34px 0 34px; }
.gsInformer+script+link+.gsInformer+script+link+.gsInformer{ margin:10px 0px 0 0px; }
.gsInformer+script+link+.gsInformer+script+link+.gsInformer+script+link+.gsInformer+script+link+.gsInformer{ margin:10px 34px 0 34px; }
.gsInformer+script+link+.gsInformer+script+link+.gsInformer+script+link+.gsInformer+script+link+.gsInformer+script+link+.gsInformer{ margin:10px 0px 0 0px; }
#content{ margin:0px auto 0px auto; padding:0px 0px 0 0px; }
#content p{ padding:5px 0 5px 0; text-align:justify; }
#content h1{ padding:35px 0 0 0; }
#content h1 span{ font-size:14pt; color:#fff; position:relative; display:inline-block; font-weight:normal; z-index:10; background:#004f9b; padding:2px 40px 1px 40px; margin:10px 0 0px 0; }
#content h1 img{ margin:-67px 0 0 0; }
#content li{ list-style:none inside; margin-left:0px; padding-left:20px; background:url(../images/list-image.png) 10px 9px no-repeat; }
#content ol > li{  margin-left:0px; padding-left:20px; list-style-type:decimal; background:none; }
#content ol ul{ margin:5px 0 5px 20px; }
#content table{ border-collapse:collapse; border:none; width:100%; }
#content table td{ padding:2px 5px 2px 5px; }
#content table#baggage tr+tr td{ text-align:left; }
#content table#baggage tr+tr td+td, #content table#baggage tr+tr td+td p{ text-align:left; }
#content table#baggage{ border:1px solid #a3a3a3; }
#content table#aspan-magazine{ width:100%; }
#content table#aspan-magazine td, #content table#aspan-magazine td p{ text-align:center; }
#content a[href^=mailto]{ font-weight:bold; }

#booking-links{ background:#004f9c; width:300px; text-align:center; margin:0 0 5px auto; border-radius:10px; padding:2px 10px 2px 10px; }
#booking-links li{ list-style:none; display:inline-block; padding:0; margin:0; }
#booking-links li a{ text-decoration:none; font-size:10pt; color:#fff; padding:2px 5px 1px 5px; }

#booking-trail{ text-align:center; margin:0 0 7px 0; border-bottom:1px solid #ccc; padding:0px 10px 3px 10px; }
#booking-trail li{ list-style:none; display:inline-block; padding:0 18px 0 5px; margin:0; background:url(../images/booking-arow.png) 100% 6px no-repeat; }
#booking-trail li a{ text-decoration:none; font-size:10pt; font-weight:bold; color:#2166a7; padding:2px 5px 1px 5px; }
#booking-trail li a.active{ text-transform:uppercase; color:#bd1924; }

#booking-form{ background:url(../images/booking-back.png); border:1px solid #ccc; border-radius:5px; padding:5px 0 0 0; height:155px; margin:0 0 10px 0; }
#booking-form-left{ width:380px; float:left; }
#booking-form-right{ width:380px; float:right; }
#booking-form .field{ border-bottom:1px solid #ccc; margin:0 0 0 3px; padding:10px 0 8px 0; }
#booking-form .field.radio div{ display:inline-block; color:#808080; font-size:8pt; }
#booking-form .field > label{ color:#2e6faf; font-weight:bold; font-size:10pt; padding:0 0 0 5px; margin:0px 10px 0 0; width:160px; display:inline-block; }
#booking-form #booking-form-left .field select{ border:1px solid #cccccc; color:#000; padding:0 10px 0 10px; width:180px; }
#booking-form #booking-form-right .field select{ border:1px solid #cccccc; color:#000; padding:0 10px 0 10px; }
#booking-form + p{ color:#808080; font-weight:bold; font-size:10pt; }
#booking-form + p b{ color:#004f9c; }

#booking-counts{ text-align:center; }
#booking-counts > li{ vertical-align:top; text-align:left; list-style:none; margin:0 5px 0 5px; padding:0; display:inline-block; width:178px; height:66px; border:1px solid #ccc; border-radius:5px; background:url(../images/booking-counts.png) 0 100% repeat-x; }
#booking-counts > li div{ color:#808080; font-size:8pt; padding:13px 0 0 10px; }
#booking-counts > li ul{ padding:15px 0 0 10px; }
#booking-counts > li ul li{ list-style:none; margin:0; padding:0 5px 0 0; cursor:pointer; display:inline-block; font-size:8pt; color:#fff; }
#booking-counts > li ul li.active{ font-size:9.5pt; }
#booking-button{ display:block; margin:15px 0 10px 0; width:310px; height:25px; border:1px solid #c21622; border-radius:7px; text-decoration:none; text-transform:uppercase; text-align:center; }
#booking-button span{ display:block; background:#c21622; margin:2px; padding:3px 0 2px 0px; font-size:10pt; border-radius:7px; color:#fff; }
#booking-button:hover span{ background:#fff; color:#c21622; }

#booking-plan{ width:200px; }
#booking-plan h4{ background:#ec161e; color:#fff; font-weight:bold; font-size:10pt; padding:10px 0 0 10px; border-top-left-radius:5px; border-top-right-radius:5px; }
#booking-plan div{ background:#c21622; color:#fff; font-size:8pt; border-bottom-left-radius:5px; border-bottom-right-radius:5px; margin:1px 0 0 0; padding:10px 0 5px 10px; }

.news-item{ margin:0 0 15px 0; clear:both; }
.anons-title{  color:#d7d7d7; font-size:11pt; float:left; }
.anons-date{ float:right; font-size:9pt; color:#888787; }
.anons-text{ clear:both; margin:0; }
.anons-link{ margin:5px 0 0 0; }
.anons-link a{ text-decoration:none; font-style:italic; color:#5f5f5f; }
.anons-link a:hover{ text-decoration:underline; }
#content .anons-text p{ margin:0; }
#news-date{ text-align:right; font-size:9pt; color:#888787; }

#feedback-form{ width:400px; margin:20px 0 10px 0;}
#feedback-form input[type=text],#feedback-form textarea{ display:block; width:400px; padding:0 0 0 5px; margin:0 0 5px 0; color:#777777; font-size:9pt; font-family:Arial; height:20px; border: 1px solid #b7b7b7; background:#fff; }
#feedback-form textarea{ height:100px; }
#feedback-form label{ font-size:10pt; }
#feedback-form input[type=text].field-error, #feedback-form textarea.field-error{border:1px dashed #ff0000;}
#feedback-form input[type=submit]{ padding:3px 5px 2px 5px; text-decoration:none; font-size:pt; cursor:pointer; border:1px solid #308ed4; background:#fff; color:#000; }
#feedback-form input[type=submit]:hover{ background:#393939; border:1px solid #8e8f8f; color:#fff; }

ol#faq li{ margin:0 0 5px 0; }
.faq-name{ font-size:10pt; margin:5px 0 5px 0; cursor:pointer; display:inline; }
.faq-name:hover{ color:#000; }
.faq-item{ display:none; border:1px dotted #dedede; background:#f8fcff; padding:5px; }

#footer{ width:100%; height:70px; margin:-80px auto 0 auto; position:relative; font-size:8pt; color:#dedede; clear:both; background:url(../images/bottom.jpg) 50% 0 repeat-x; }

#footer a{ color:#004f9c; font-weight:bold; text-decoration:none; }
#footer a:hover{ color:#000; }

.socials{ text-align:left; float:left; }
.socials li{ display:inline-block; list-style:none; margin:0 5px 0 0; padding:0; }
.socials li a{ display:block; width:20px; height:20px; }
.socials .vk{ background:url(http://www.scat.kz/images/vk.png); }
.socials .facebook{ background:url(http://www.scat.kz/images/facebook.png); }
.socials .youtube{ background:url(http://www.scat.kz/images/youtube.png); }
.socials .periscope{ background:url(http://www.scat.kz/images/periscope.png); }
.socials .instagram{ background:url(http://www.scat.kz/images/instagram.png); }

#copyright{  width:1000px; margin:10px auto 0 auto; padding:30px 0 0 0; font-size:8pt; }
#facebook{ color:#004f9c; text-decoration:none; padding:2px 0 0 10px; background:url(../images/facebook.png) 0 50% no-repeat; }
#twitter{ color:#004f9c; text-decoration:none; margin:0 0 0 50px; padding:3px 0 0 15px; background:url(../images/twitter.png) 0 50% no-repeat; }
#vk{ color:#004f9c; text-decoration:none; margin:0 0 0 50px; padding:3px 0 0 13px; background:url(../images/vk.png) 0 5px no-repeat; }
#scat{ float:right; }
#footer img{ float:right; margin:0px 0px 5px 25px; display:inline-block; vertical-align:middle; }